﻿@model Dictionary<string, int>
@{
    Layout = "~/Views/Shared/Layouts/MainLayout.cshtml";
}

<script id="template" type="text/x-handlebars-template">
    <p></p>
    <div>
        @foreach (var music in Model)
        {
            <button class="btn btn-info music-btn {{#musicIs ActiveMusic @music.Value}}{{/musicIs}}" 
                data-music="@music.Value">@music.Key</button>
        }
        <H2>Сейчас играет {{ActiveMusicName}}.</H2> <h5>Для переключения музыки нажмите на кнопку.</h5>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id посетителя</th>
                <th>Пол</th>
                <th>Может танцевать под музыку</th>
                <th>Что делает</th>
                <th>Состояние туловища</th>
                <th>Состояние головы</th>
                <th>Состояние рук</th>
                <th>Состояние ног</th>
            </tr>
        </thead>

        <tbody>
            {{#each Visitors}}
            <tr>
                <td>{{Id}}</td>
                <td>{{Gender}}</td>
                <td>{{CanDanceMusic}}</td>
                <td>{{RunningSkill}}</td>
                <td>{{TorsoState}}</td>
                <td>{{HeadState}}</td>
                <td>{{HandsState}}</td>
                <td>{{LegsState}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>


</script>


<div id="visitorsWrap">
    <div id="visitors">
        
    </div>
</div>

