﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ночной клуб</title>    

        @Styles.Render("~/bundles/styles/main")
        @RenderSection("styles", required: false)
    </head>
    <body>
        <div class="container">
            @RenderBody()  
        </div>
        @Scripts.Render("~/bundles/scripts/main")
        @RenderSection("scripts", required: false)
    </body>    
</html>
